[submodule "client/webrtc"]
	path = client/webrtc
	url = https://github.com/bchu/peerjs.git
  branch = master
[submodule "demo"]
	path = demo
	url = https://github.com/bchu/nodetron-standhub.git
	branch = master
